ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
}

h3 {
  margin: 0;
  padding-bottom: 10px;
}

p {
  margin: 5px 0;
}

hr {
  margin-top: 10px;
}
